@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;600;700;800&display=swap");

$gold-color: #ffb566;
$black-color: #000;
$white-color: #fff;
$color-light: #bebebe;
$opactiy-color: #2b2b2b;
* {
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: all 0.6s;
}
body{
    overflow: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1F1F1F;
}
a {
  text-decoration: none;
}
span {
  font-size: 2.1rem;
  color: $gold-color;
  font-weight: 600;
  display: block;
}
.dark {
  display: inline-block;
}
.sun {
  display: none;
}
.bag-sun {
  display: none;
}
.title {
  margin-bottom: 5rem;
  h2 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-size: 2.6rem;
    text-align: center;
    position: relative;
    color: $opactiy-color;
    &::before {
      content: "";
      background-color: $gold-color;
      width: 8%;
      height: 2px;
      position: absolute;
      top: -40%;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
.btn {
  transition: all 0.5s;
  &.btns-light {
    background-color: $color-light;
    padding: 0.6rem 1.4rem;
    border-radius: 0;
    font-size: 1.2rem;
    &:hover {
      background-color: hsl(0, 0%, 63%);
    }
  }
  &.btns-dark {
    background-color: $opactiy-color;
    color: $white-color;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 0;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.5);
    &:hover {
      background-color: hsl(0, 0%, 21%);
    }
  }
}
.navbar {
  z-index: 3;
  transition: all 0.5s;
  .navbar-brand {
    color: $black-color;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.4rem;
  }
  .navbar-toggler {
    color: $black-color;
  }
  .navbar-nav {
    .nav-link {
      color: $black-color;
      font-size: 1.4rem;
      transition: all 0.6s;
      &:focus{
        color: $gold-color;
      }
      &.active {
        color: $gold-color;
      }
      &:hover {
        color: $gold-color;
      }
    }
    span {
      cursor: pointer;
    }
  }
}
.cart{
    background-color: $white-color;
    position: fixed;
    top: 0; bottom: 0;
    right: -100%;
    z-index: 5;
    width: 30%;
    transition: all 1s ease-in-out;
    #close{
        font-size: 2rem;
        position: absolute;
        right: 10%;
        top: 5%;
        transition: all 1s;
        &:hover{
            transform: rotate(180deg);
        }
    }
    i{
        cursor: pointer;
    }
    h2{
        text-align: center;
        padding: 4rem 0;
        font-size: 2.5rem;
        font-weight: 500;
    }
    .fa-minus , .fa-plus{
        font-size: 1rem;
        background: #fff;
        padding: .6rem .8rem;
        border: 1px solid #ccc;
    }
    span{
        font-size: 1.6rem;
    }
    img{
        width: 15%;
    }
}
.home {
  .box {
    position: relative;
    .links {
      position: absolute;
      left: -25%;
      top: 40%;
      transform: translate(-50%);
      transform: rotate(-90deg);
      display: flex;
      column-gap: 3rem;
      .links-home {
        color: $color-light;
        font-size: 1.2rem;
        transition: all 0.5s;
        text-transform: capitalize;
        &:hover {
          color: $black-color;
        }
      }
    }
    .home-title {
      position: absolute;
      left: 40%;
      transform: translate(-50%);
      padding: 0 0 8rem 0;
      h1 {
        font-size: 3.5rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
  .images {
    background-color: $gold-color;
    transform: translate(10rem, -4rem);
    display: flex;
    height: 100vh;
    width: 550px;
    align-items: center;
    justify-content: center;
    img {
      width: 75%;
    }
  }
}
.boxs {
  background-color: $white-color;
  border: 1px solid #e1e1e1;
  position: relative;
  overflow: hidden;
  padding: 1rem 1rem;
  transition: all 0.5s;
  &:hover .small-box .btn {
    bottom: 0;
  }
  &:hover {
    box-shadow: 0px 0px 24px 2px rgba(30, 29, 29, 0.1);
  }
  img {
    max-width: 50%;
  }
  h5 {
    font-size: 2.1rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  .sale {
    transform: rotate(-90deg);
    position: absolute;
    top: 4rem;
    left: -1.2rem;
    background-color: $gold-color;
    padding: 0.4rem 1.4rem;
    color: $white-color;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.3rem;
  }
  .small-box {
    text-align: center;
    padding: 2rem 0;
    position: relative;
    .btn {
      position: absolute;
      bottom: -5rem;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
.story {
  .images {
    img {
      width: 100%;
    }
  }
  .story-title {
    h2 {
      position: relative;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: 2.1rem;
      font-weight: 600;
      margin-bottom: 2rem;
      color: $black-color;
      &::before {
        content: "";
        position: absolute;
        top: -1rem;
        left: 0;
        background-color: $gold-color;
        width: 10%;
        height: 3px;
      }
    }
  }
  h3 {
    font-size: 3rem;
    font-weight: 600;
  }
  p {
    width: 70%;
  }
}
.products {
  .boxs {
    position: relative;
    padding: 1rem 2rem;
    img {
      max-width: 75%;
    }
    .shopping-bag {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $opactiy-color;
      padding: 0.8rem 1rem;
      color: $white-color;
      transition: all 0.5s;
      cursor: pointer;
      &:hover {
        background-color: hsl(0, 0%, 21%);
      }
    }
  }
}
.testimonial {
  .image {
    img {
      width: 100%;
    }
  }
  .testi-box {
    span {
      i {
        background-color: $white-color;
        box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.4);
        padding: 0.6rem 0.9rem;
      }
    }
    p {
      font-size: 1.4rem;
    }
    .text-title {
      h4,
      h5 {
        color: $black-color;
      }
      img {
        width: 15%;
        border-radius: 50%;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: $gold-color;
    padding: 0 1rem;
    top: 70%;
  }
  .swiper-button-prev {
    left: 80%;
  }
}
.new,
.shopping {
  .boxs {
    img {
      width: 100%;
    }
    &:hover {
      background-color: $gold-color;
      border-color: $gold-color;
    }
    &:hover .new-span {
      background-color: $black-color;
      color: $white-color;
    }
    .title {
      transition: all 0.5s;
    }
    &:hover .title {
      color: $black-color;
    }
    .new-span {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $gold-color;
      padding: 0.5rem 1.6rem;
      text-align: center;
      color: $white-color;
      text-transform: uppercase;
      font-weight: bolder;
      font-size: 1.3rem;
      transition: all 0.5s;
    }
    .btn {
      position: absolute;
      bottom: -5rem;
      left: 50%;
      transform: translate(-50%);
      padding: 1rem 1.4rem;
    }
  }
}
.news-letter {
  .container {
    background-color: $gold-color;
    padding: 2rem 2rem;
  }
  h2 {
    font-size: 3.4rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }
  p {
    font-size: 1.1rem;
  }
  .form-control {
    border-radius: 0;
    font-size: 1.5rem;
    width: 75%;
  }
}
footer {
  .titles {
    h3 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.5rem;
      color: #898989;
      a {
        color: #898989;
        font-size: 1.6rem;
      }
      &:hover a {
        color: $black-color;
      }
    }
  }
}
.all-rights {
  border-top: 1px solid $color-light;
  p {
    color: #898989;
    font-size: 1.5rem;
  }
}
// spin
#spin{
    position: fixed; top: 0; bottom: 0; right: 0; left: 0;
    z-index: 9999; background-color: $opactiy-color;
    display: flex; justify-content: center; align-items: center;
    .sk-fading-circle {
        margin: 100px auto;
        width: 40px;
        height: 40px;
        position: relative;
        .sk-circle {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          &::before {
            content: '';
            display: block;
            margin: 0 auto;
            width: 15%;
            height: 15%;
            background-color: $gold-color;
            border-radius: 100%;
            -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          }
        }
        .sk-circle2 {
          -webkit-transform: rotate(30deg);
            -ms-transform: rotate(30deg);
            transform: rotate(30deg);
            &::before {
                -webkit-animation-delay: -1.1s;
                animation-delay: -1.1s; 
            }
        }
        .sk-circle3 {
          -webkit-transform: rotate(60deg);
            -ms-transform: rotate(60deg);
            transform: rotate(60deg);
            &::before {
                -webkit-animation-delay: -1s;
                animation-delay: -1s; 
            }
        }
        .sk-circle4 {
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            &::before {
                -webkit-animation-delay: -0.9s;
                animation-delay: -0.9s; 
            }
        }
        .sk-circle5 {
          -webkit-transform: rotate(120deg);
            -ms-transform: rotate(120deg);
            transform: rotate(120deg);
            &::before {
                -webkit-animation-delay: -0.8s;
                animation-delay: -0.8s; 
            }    
        }
        .sk-circle6 {
          -webkit-transform: rotate(150deg);
            -ms-transform: rotate(150deg);
            transform: rotate(150deg);
            &::before {
                -webkit-animation-delay: -0.7s;
                animation-delay: -0.7s; 
            }
        }
        .sk-circle7 {
          -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
            &::before {
                -webkit-animation-delay: -0.6s;
                animation-delay: -0.6s; 
            }   
        }
        .sk-circle8 {
          -webkit-transform: rotate(210deg);
            -ms-transform: rotate(210deg);
            transform: rotate(210deg);
            &::before {
                -webkit-animation-delay: -0.5s;
                animation-delay: -0.5s; 
            }
        }
        .sk-circle9 {
          -webkit-transform: rotate(240deg);
            -ms-transform: rotate(240deg);
            transform: rotate(240deg);
            &::before {
                -webkit-animation-delay: -0.4s;
                animation-delay: -0.4s;
            } 
        }
        .sk-circle10 {
          -webkit-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            transform: rotate(270deg);
            &::before {
                -webkit-animation-delay: -0.3s;
                animation-delay: -0.3s;
            }
        }
        .sk-circle11 {
          -webkit-transform: rotate(300deg);
            -ms-transform: rotate(300deg);
            transform: rotate(300deg);
            &::before {
                -webkit-animation-delay: -0.2s;
                animation-delay: -0.2s;
            }
        }
        .sk-circle12 {
            -webkit-transform: rotate(330deg);
            -ms-transform: rotate(330deg);
            transform: rotate(330deg); 
            &::before {
                -webkit-animation-delay: -0.1s;
                animation-delay: -0.1s;
            }
        }
    }   
}
@-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
}
@keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
}
// Start media
@media (max-width: 991px) {
  .home {
    .box {
      .links {
        left: -12rem;
        top: 40%;
        column-gap: 2rem;
        .links-home {
          font-size: 1rem;
        }
      }
      .home-title {
        left: 30%;
        transform: translate(-50%);
        padding: 0 0 0 0;
        h1 {
          font-size: 2.1rem;
          font-weight: 600;
          br {
            display: none;
          }
        }
        p {
          font-size: 0.9rem;
        }
      }
    }
    .images {
      height: 80vh;
      width: 320px;
      transform: translate(8rem, -3rem);
      img {
        width: 70%;
      }
    }
  }
  .btn {
    &.btns-light {
      padding: 0.6rem 1.4rem;
      font-size: 1.2rem;
    }
    &.btns-dark {
      padding: 1rem 1.2rem;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
    .cart{
        width: 60%;
        #close{
            font-size: 2rem;
            right: 10%;
            top: 5%;
        }
        h2{
            padding: 1rem 0;
            font-size: 2rem;
        }
        .fa-minus , .fa-plus{
            font-size: 1rem;
            padding: .6rem .6rem;
        }
        span{
            font-size: 1.3rem;
        }
        img{
            width: 15%;
        }
    }
    .title {
        margin-bottom: 4rem;
        h2 {
        font-size: 2.2rem;
        }
    }
  span {
    font-size: 1.8rem;
  }
  .boxs {
    h5 {
      font-size: 1.8rem;
    }
  }
  .story {
    .story-title {
      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        &::before {
          top: -1rem;
          width: 20%;
        }
      }
    }
    h3 {
      font-size: 1.8rem;
      font-weight: 600;
    }
    p {
      width: 94%;
    }
  }
  .testimonial {
    .testi-box {
      span {
        i {
          padding: 0.6rem 0.8rem;
        }
      }
      p {
        font-size: 1rem;
      }
      h3 {
        font-size: 1.4rem;
      }
      .text-title {
        h4,
        h5 {
          font-size: 1.2rem;
        }
        img {
          width: 20%;
        }
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      top: 70%;
    }
    .swiper-button-prev {
      left: 70%;
    }
  }
  .news-letter {
    h2 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
  footer {
    .titles {
      h3 {
        font-size: 2.2rem;
        margin-bottom: 2rem;
      }
      p {
        font-size: 1.3rem;
        a {
          font-size: 1.3rem;
        }
      }
    }
  }
  .all-rights {
    p {
      font-size: 1.3rem;
    }
  }
}
@media (max-width: 768px) {
  .btn {
    &.btns-light {
      padding: 0.6rem 1.2rem;
    }
    &.btns-dark {
      padding: 0.8rem 0.9rem;
    }
  }
  .home {
    .box {
      .links {
        left: -7rem;
      }
      .home-title {
        padding: 0 0 4rem 0;
        left: 42%;
        h1 {
          font-size: 2rem;
        }
      }
    }
    .images {
      height: 60vh;
      width: 100%;
      transform: translate(0, -10rem);
      img {
        width: 45%;
      }
    }
  }
    .cart{
        width: 100%;
    }
  .boxs {
    h5 {
      font-size: 1.7rem;
    }
  }
  .story {
    .story-title {
      h2 {
        font-size: 1.8rem;
      }
    }
    h3 {
      font-size: 1.7rem;
    }
  }
  .testimonial {
    .image {
      img {
        width: 100%;
      }
    }
    .testi-box {
      h3 {
        font-size: 1.3rem;
      }
    }
    .swiper-button-prev {
      left: 80%;
    }
  }
  .news-letter {
    h2 {
      font-size: 2.2rem;
      br {
        display: none;
      }
    }
    p {
      font-size: 1rem;
    }
  }
}
@media (max-width: 580px) {
  .btn {
    &.btns-light {
      padding: 0.6rem 1rem;
    }
    &.btns-dark {
      padding: 0.7rem 0.9rem;
    }
  }
  .home {
    .box {
      .links {
        left: -5rem;
        .links-home {
          font-size: 0.9rem;
        }
      }
      .home-title {
        left: 40%;
        transform: translate(-50%);
        padding: 0 0 4rem 0;
        h1 {
          font-size: 1.6rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
    }
    .images {
      height: 60vh;
      width: 100%;
      transform: translate(0, -10rem);
      img {
        width: 45%;
      }
    }
  }
  .boxs {
    h5 {
      font-size: 1.5rem;
    }
  }
  .title {
    h2 {
      font-size: 2rem;
    }
  }
}
@media (max-width: 400px) {
  .btn {
    &.btns-light {
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }
    &.btns-dark {
      padding: 0.6rem 0.9rem;
      font-size: 1.1rem;
    }
  }
  .home {
    .box {
      .links {
        .links-home {
          font-size: 0.9rem;
        }
      }
      .home-title {
        left: 42%;
        h1 {
          font-size: 1.2rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
    }
  }
  .cart{
    overflow: scroll;
    #close{
        font-size: 1.6rem;
    }
    h2{
        padding: 1rem 0;
        font-size: 1.8rem;
    }
    .fa-minus , .fa-plus{
        font-size: 1rem;
    }
    span{
        font-size: 1.1rem;
    }
    h4 , h5{
        font-size: 1rem;
    }
    img{
        width: 15%;
    }
}
  .boxs {
    h5 {
      font-size: 1.5rem;
    }
  }
  .title {
    h2 {
      font-size: 2rem;
    }
  }
  .testimonial {
    .image {
      img {
        width: 100%;
      }
    }
    .testi-box {
      h3 {
        font-size: 1.2rem;
      }
      .text-title {
        h4,
        h5 {
          font-size: 1rem;
        }
        img {
          width: 15%;
        }
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      top: 70%;
    }
    .swiper-button-prev {
      left: 70%;
    }
  }
  .news-letter {
    h2 {
      font-size: 1.4rem;
      br {
        display: none;
      }
    }
    p {
      font-size: 0.8rem;
    }
    .d-flex {
      display: inline-block !important;
    }
    .form-control {
      border-radius: 0;
      font-size: 1.2rem;
      width: 100%;
      padding: 0.8rem 1rem !important;
      margin-bottom: 1rem;
    }
    .btn {
      padding: 0.7rem 1.4rem;
    }
  }
  footer {
    .titles {
      h3 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1.2rem;
        a {
          font-size: 1.1rem;
        }
      }
    }
  }
  .all-rights {
    p {
      font-size: 1rem;
    }
  }
}
